/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}



.header{
display: flex;
    flex-wrap: nowrap;
}

.header > div{
 
    //   width: 150%;
         margin-left: 200px;
        // text-align: center;
        // // line-height: 75px;
        // // font-size: 30px;
}
